registry = https://europe-npm.pkg.dev/edo-prod-resources/npm-all/
legacy-peer-deps=true
force=true

# Insert the following snippet into your project .npmrc

@edreamsodigeo:registry=https://europe-npm.pkg.dev/edo-prod-resources/npm-all/
//europe-npm.pkg.dev/edo-prod-resources/npm-all/:always-auth=true

# Insert the following snippet into your user .npmrc

//europe-npm.pkg.dev/edo-prod-resources/npm-all/:_password="${NPM_REGISTRY_PASSWORD}"
//europe-npm.pkg.dev/edo-prod-resources/npm-all/:username=_json_key_base64
//europe-npm.pkg.dev/edo-prod-resources/npm-all/:email=not.valid@email.com
