.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  line-height: 30px;
  letter-spacing: normal;
  background-color: rgb(255, 255, 255);
}

.wrapper {
  width: 100%;
}

.sliderOuter {
  text-align: center;
}

.sliderInner {
  min-height: 600px;
  text-align: center;
}

.sliderContent {
  overflow: hidden;
  position: relative;
  text-align: center;
}

.slideList {
  min-height: 600px;
  overflow: hidden;
  padding-left: 40px;
  position: relative;
  text-align: center;
}

.slideHidden {
  background-color: rgb(0, 109, 160);
  height: 600px;
  left: 0;
  overflow: hidden;
  text-align: center;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 99;
}

.slideActive {
  background-color: rgb(0, 109, 160);
  height: 600px;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 99;
}

.contentOverlay {
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 2;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  flex-flow: column nowrap;
  height: 600px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1140px;
  padding: 50px 20px;
  text-align: center;
  z-index: 2;
}

.video {
  left: 50%;
  margin-left: -993px;
  margin-top: -311px;
  object-fit: contain;
  overflow-clip-margin: content-box;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  z-index: 1;
}

.indicators {
  bottom: 20px;
  display: none;
  font-size: 0;
  left: 50%;
  line-height: 11px;
  position: absolute;
  text-align: right;
  user-select: none;
  z-index: 1001;
}

.indicatorItem {
  display: inline-block;
  font-size: 0;
  line-height: 11px;
  margin: 0 7px;
  user-select: none;
  vertical-align: middle;
}

.indicator {
  border: 3px solid rgb(255, 255, 255);
  border-radius: 6px;
  color: rgb(0, 109, 160);
  cursor: pointer;
  font-size: 0;
  height: 11px;
  line-height: 11px;
  outline-color: rgb(0, 109, 160);
  text-decoration-color: rgb(0, 109, 160);
  text-emphasis-color: rgb(0, 109, 160);
  text-indent: -9999px;
  transition-duration: 0.3s;
  user-select: none;
  width: 11px;
}

.nextButton {
  display: none;
  font-size: 25px;
  opacity: 0.75;
  position: absolute;
  right: 5px;
  text-align: center;
  top: 50%;
  user-select: none;
  z-index: 1001;
}

.prevButton {
  display: none;
  font-size: 25px;
  left: 5px;
  opacity: 0.75;
  position: absolute;
  text-align: center;
  top: 50%;
  user-select: none;
  z-index: 1001;
}

.navButton {
  background-position: 100% 0%;
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 25px;
  outline-color: rgb(255, 255, 255);
  padding: 15px;
  text-align: center;
  text-decoration-color: rgb(255, 255, 255);
  text-emphasis-color: rgb(255, 255, 255);
  transition-duration: 0.3s;
  user-select: none;
}

.navIcon {
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: so-slider-pointers;
  font-size: 25px;
  font-weight: 400;
  line-height: 25px;
  outline-color: rgb(255, 255, 255);
  speak: none;
  text-align: center;
  text-decoration-color: rgb(255, 255, 255);
  text-emphasis-color: rgb(255, 255, 255);
  user-select: none;
}
