@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap);

.block {
  display: block;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-red {
  color: #fd7f82;
}

.text-grey {
  color: #a4a4a4;
}

.uppercase {
  text-transform: uppercase;
}

.mb,
.mbn {
  margin-bottom: 12px;
}

.mbs {
  margin-bottom: 6px;
}

.no-mb {
  margin-bottom: 0;
}

.mt {
  margin-top: 12px;
}

.text-right {
  text-align: right;
}

.hidden {
  display: none;
}

.relative {
  position: relative;
}

.disabled {
  opacity: 0.5;
}

.cf:after,
.cf:before {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.times {
  font-family: times, serif;
  font-size: 13px;
  font-style: italic;
}

.section {
  clear: both;
  padding: 0 8px;
  margin: 0;
}

@media (min-width: 769px) {
  .section {
    padding: 0;
  }
}

.col {
  display: block;
  float: left;
  margin: 6px 0;
}

.col:first-child {
  margin-left: 0;
}

.col:last-child {
  margin-right: 0;
}

.group:after,
.group:before {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}

.tile {
  box-sizing: border-box;
  height: auto;
  cursor: pointer;
}

.tile .background {
  width: 100%;
}

.tile .background img {
  display: table-row;
}

.tile .tile {
  margin: 0;
  padding: 0 1.6%;
}

.tile .tile:first-child {
  background-color: #2da98d;
}

.tile .tile:last-child {
  background-color: #ff4d4d;
}

.tile .tile.span_6_of_12 {
  width: 50%;
}

.tile .tile.span_4_of_12 {
  width: 33.333333333%;
}

.tile.span_3_of_12 .background img {
  width: 100%;
}

@media (min-width: 450px) {
  .tile.span_3_of_12 .background img {
    width: 100%;
  }
}

@media (min-width: 769px) {
  .tile.span_3_of_12 .background img {
    width: 179px;
  }
}

@media (min-width: 992px) {
  .tile.span_3_of_12 .background img {
    width: 226px;
  }
}

@media (min-width: 1200px) {
  .tile.span_3_of_12 .background img {
    width: 284px;
  }
}

@media (min-width: 576px) {
  .tile.xsmall {
    height: 60px;
  }
  .tile.small {
    height: 187px;
  }
  .tile.medium {
    height: 224px;
  }
  .tile.large {
    height: 400px;
  }
  .tile.parent {
    padding: 0;
  }
}

.span_12_of_12 {
  width: 100%;
}

.span_6_of_12 {
  width: 100%;
  margin: 6px 6px 6px 0;
}

.span_4_of_12 {
  width: 100%;
}

.span_3_of_12 {
  width: calc(50% - 6px);
  margin: 6px 12px 6px 0;
}

.span_3_of_12:nth-child(2n) {
  width: calc(50% - 6px);
  margin: 6px 0;
}

.span_3_of_12:nth-child(odd) {
  margin: 6px 12px 6px 0;
}

@media (min-width: 576px) {
  .col {
    margin: 6px 0 6px 12px;
  }
  .span_12_of_12 {
    width: 100%;
  }
  .span_6_of_12 {
    width: calc(50% - 6px);
  }
  .span_4_of_12,
  .span_4_of_12:first-child {
    width: calc(33.3333333333% - 8px);
  }
  .span_4_of_12:nth-child(2),
  .span_4_of_12:nth-child(3) {
    width: calc(33.3333333333% - 8px);
    margin: 6px 0 6px 12px;
  }
  .span_3_of_12 {
    height: auto;
    width: calc(25% - 9px);
    margin-top: 0;
  }
  .span_3_of_12:first-child {
    margin: 0 0 6px;
  }
  .span_3_of_12:nth-child(2n) {
    width: calc(25% - 9px);
    margin: 0 0 6px 12px;
  }
  .span_3_of_12:nth-child(odd) {
    margin: 0 0 6px 12px;
  }
  .span_3_of_12:nth-child(4n - 3) {
    margin: 0 0 6px;
  }
}

@media (min-width: 769px) {
  .span_12_of_12 {
    width: 100%;
  }
  .span_4_of_12 {
    width: 232px;
  }
  .span_3_of_12 {
    height: auto;
  }
}

@media (min-width: 992px) {
  .span_12_of_12 {
    width: 100%;
  }
  .span_6_of_12 {
    width: 464px;
  }
  .span_4_of_12 {
    width: 305px;
  }
}

@media (min-width: 1200px) {
  .span_12_of_12 {
    width: 100%;
  }
  .span_6_of_12 {
    width: 579px;
  }
  .span_4_of_12 {
    width: 382px;
  }
}

.content,
.content-new {
  max-width: 100%;
  margin: 0 auto;
}

@media (min-width: 769px) {
  .content,
  .content-new {
    max-width: 750px;
    overflow: visible;
  }
}

@media (min-width: 992px) {
  .content,
  .content-new {
    max-width: 970px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 1200px) {
  .content,
  .content-new {
    max-width: 1200px;
  }
}

@media (max-width: 768px) {
  .content-new {
    padding: 0 20px;
  }
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, td, th {
  text-align: left;
  font-weight: 400;
  vertical-align: middle;
}

blockquote, q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*, :after, :before {
  box-sizing: inherit;
}

body, html {
  width: 100%;
  color: #000;
}

body {
  background: #fff;
}

.wrapper {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
  padding: 12px;
}

.wrapper:after {
  content: " ";
  display: block;
}

.wrapper:after,
.wrapper:before {
  content: "";
  display: table;
}

.wrapper:after {
  clear: both;
}

@media (min-width: 576px) {
  .wrapper {
    padding: 24px 0;
  }
}

.wrapper.no-padding {
  padding: 0;
}

.wrapper.side-padding {
  padding: 0 12px;
}

.wrapper.narrow {
  max-width: 580px;
}

#global-content {
  min-height: 600px;
}

@media (min-width: 769px) {
  #global-content {
    min-height: 800px;
  }
}

#global-content.noheight {
  min-height: 0;
}

#global-content.gray-background {
  background-color: #f5f5f5;
}

.thor-dropdown {
  position: relative;
}

.thor-dropdown ul {
  width: 100%;
  max-height: 320px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border: 1px solid #c8c8c8;
  border-radius: 2px;
  margin: 10px 0;
}

.thor-dropdown ul li {
  padding: 10px 14px;
  cursor: pointer;
  border-bottom: 1px solid #f5f5f5;
  font: normal 400 16px/1.2 Roboto, Arial, Helvetica, sans-serif;
}

.thor-dropdown ul li span {
  font: normal 400 16px/1.2 Roboto, Arial, Helvetica, sans-serif !important;
}

.thor-dropdown ul li:focus {
  background-color: #c8c8c8;
}

.thor-dropdown.dropdown-overlay ul {
  position: absolute;
}

.btn {
  background: #54668e;
  border-radius: 2px;
  color: #fff;
  padding: 0 40px;
  text-decoration: none;
  transition: none;
  border: 1px solid #54668e;
  display: inline-block;
  line-height: 43px;
  border-radius: 2px;
  appearance: none;
  position: relative;
  font-size: 13px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.12);
  line-height: 40px !important;
}

.btn.low {
  padding: 1px 18px 0;
}

.btn:hover {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.btn.disabled {
  background: #c4c4c4;
  border: 1px solid #c4c4c4;
}

.btn-white {
  background: #fff;
  border-radius: 2px;
  color: #54668e;
  text-decoration: none;
  transition: none;
  border: 1px solid #54668e;
  display: inline-block;
  line-height: 43px;
  border-radius: 2px;
  appearance: none;
  position: relative;
  font-size: 13px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.12);
  line-height: 40px !important;
  padding: 0 10px;
  text-align: center;
}

.btn-white.low {
  padding: 1px 18px 0;
}

.btn-white:hover {
  text-decoration: none;
  color: #54668e;
  cursor: pointer;
}

.btn-white.disabled {
  background: #c4c4c4;
  border: 1px solid #c4c4c4;
}

.btn-lightblue {
  background: #79b7ff;
  border-radius: 2px;
  color: #fff;
  padding: 0 40px;
  text-decoration: none;
  transition: none;
  border: 1px solid #79b7ff;
  display: inline-block;
  line-height: 43px;
  border-radius: 2px;
  appearance: none;
  position: relative;
  font-size: 13px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.12);
  line-height: 40px !important;
}

.btn-lightblue.low {
  padding: 1px 18px 0;
}

.btn-lightblue:hover {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.btn-lightblue.disabled {
  background: #c4c4c4;
  border: 1px solid #c4c4c4;
}

.btn-red {
  background: #fd7f82;
  border-radius: 2px;
  color: #fff;
  padding: 0 40px;
  text-decoration: none;
  transition: none;
  border: 1px solid #c4c4c4;
  display: inline-block;
  line-height: 43px;
  border-radius: 2px;
  appearance: none;
  position: relative;
  font-size: 13px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.btn-red.low {
  padding: 1px 18px 0;
}

.btn-red:hover {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.btn-red.disabled {
  background: #c4c4c4;
  border: 1px solid #c4c4c4;
}

.btn-orange {
  background: orange;
  border-radius: 2px;
  color: #fff;
  padding: 0 40px;
  text-decoration: none;
  transition: none;
  border: 1px solid transparent;
  display: inline-block;
  line-height: 43px;
  border-radius: 2px;
  appearance: none;
  position: relative;
  font-size: 13px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.btn-orange.low {
  padding: 1px 18px 0;
}

.btn-orange:hover {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.btn-orange.disabled {
  background: #c4c4c4;
  border: 1px solid #c4c4c4;
}

.btn-thor-orange {
  background: #ff6900;
  border-radius: 2px;
  color: #fff;
  padding: 0 40px;
  text-decoration: none;
  transition: none;
  border: 1px solid transparent;
  display: inline-block;
  line-height: 43px;
  border-radius: 2px;
  appearance: none;
  position: relative;
  font-size: 13px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.12);
  font-size: 16px;
  width: 120px;
  font-weight: 700;
}

.btn-thor-orange.low {
  padding: 1px 18px 0;
}

.btn-thor-orange:hover {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.btn-thor-orange.disabled {
  background: #c4c4c4;
  border: 1px solid #c4c4c4;
}

.btn-thor-orange.full-width-center {
  text-align: center;
  width: 100%;
}

.btn-thor-white {
  background: #fff;
  border-radius: 2px;
  color: #ff6900;
  padding: 0 40px;
  text-decoration: none;
  transition: none;
  display: inline-block;
  line-height: 43px;
  border-radius: 2px;
  appearance: none;
  position: relative;
  font-size: 13px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: none;
  border: 1px solid #ff6900;
  font-size: 16px;
  width: 120px;
  border-radius: 3px;
}

.btn-thor-white.low {
  padding: 1px 18px 0;
}

.btn-thor-white:hover {
  text-decoration: none;
  color: #ff6900;
  cursor: pointer;
  background-color: transparent;
}

.btn-thor-white.disabled {
  background: #c4c4c4;
  border: 1px solid #c4c4c4;
}

.btn-thor-white.large {
  font-weight: 700;
}

.btn-green {
  background: #2da98d;
  border-radius: 2px;
  color: #fff;
  padding: 0 40px;
  text-decoration: none;
  transition: none;
  border: 1px solid #2da98d;
  display: inline-block;
  line-height: 43px;
  border-radius: 2px;
  appearance: none;
  position: relative;
  font-size: 13px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.12);
  line-height: 40px !important;
}

.btn-green.low {
  padding: 1px 18px 0;
}

.btn-green:hover {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.btn-green.disabled {
  background: #c4c4c4;
  border: 1px solid #c4c4c4;
}

.btn-green span {
  color: #fff !important;
}

.btn-gray {
  background: #aaa;
  border-radius: 2px;
  color: #fff;
  padding: 0 40px;
  text-decoration: none;
  transition: none;
  border: 1px solid #999;
  display: inline-block;
  line-height: 43px;
  border-radius: 2px;
  appearance: none;
  position: relative;
  font-size: 13px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.btn-gray.low {
  padding: 1px 18px 0;
}

.btn-gray:hover {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.btn-gray.disabled {
  background: #c4c4c4;
  border: 1px solid #c4c4c4;
}

.btn-low-profile {
  background: #fd7f82;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  transition: none;
  border: 1px solid #fd7f82;
  display: inline-block;
  line-height: 43px;
  border-radius: 3px;
  appearance: none;
  position: relative;
  font-size: 13px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.12);
  padding: 10px 18px 7px;
  line-height: 80%;
  font-size: 70%;
}

.btn-low-profile.low {
  padding: 1px 18px 0;
}

.btn-low-profile:hover {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.btn-low-profile.disabled {
  background: #c4c4c4;
  border: 1px solid #c4c4c4;
}

.btn-low {
  background: #54668e;
  border-radius: 2px;
  color: #fff;
  padding: 0 40px;
  text-decoration: none;
  transition: none;
  border: 1px solid #54668e;
  display: inline-block;
  line-height: 43px;
  border-radius: 2px;
  appearance: none;
  position: relative;
  font-size: 13px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.12);
  line-height: 34px !important;
}

.btn-low.low {
  padding: 1px 18px 0;
}

.btn-low:hover {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.btn-low.disabled {
  background: #c4c4c4;
  border: 1px solid #c4c4c4;
}

.btn-circle-green {
  border: 3px solid #2da98d;
  border-radius: 26px;
  padding: 0 26px;
  display: inline-block;
  color: #2da98d;
  background: transparent;
  line-height: 38px;
}

.btn-circle-green:hover {
  background: #2da98d;
  color: #fff;
  cursor: pointer;
}

.btn-circle-green.disabled {
  opacity: 0.3;
  pointer-events: none;
  color: #717171;
  border: 3px solid #717171;
}

.btn-circle-green.disabled:hover {
  cursor: auto;
}

.block-btn,
label {
  display: block;
}

label {
  color: #000;
}

label .required {
  color: #ff4d4d;
  font-size: 17px;
}

input.border,
textarea.border {
  border: 1px solid #54668e;
}

input.has-eye,
textarea.has-eye {
  padding-right: 40px;
}

label.radio {
  position: relative;
}

label.radio input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

label.radio input[type="radio"]:hover + span:before {
  background: #000;
  box-shadow: 0 0 0 0.1em #000;
}

label.radio input[type="radio"] + span:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: -3px;
  border-radius: 1em;
  border: 3px solid #fff;
  box-shadow: 0 0 0 0.1em #000;
  margin-right: 8px;
  background: #fff;
}

label.radio input[type="radio"]:checked + span:before {
  background: #000;
  box-shadow: 0 0 0 0.1em #000;
}

select:not(.--no-global) {
  width: 100%;
  padding: 7px;
  border: 1px solid #54668e;
  border-radius: 0;
  background: #fff;
  margin-bottom: 6px;
  height: 36px;
  appearance: none;
  background-image: url(https://images-fe.thortful.com/img/hosted/select-triangles.png);
  background-size: 7px 13px;
  background-repeat: no-repeat;
  background-position: 95%;
  box-shadow: none;
  border-radius: 2px;
}

select:not(.--no-global)#newAddressCountry {
  background-image: url(https://images-fe.thortful.com/img/template/arrow-right.svg);
  background-position: 98%;
  background-size: 17px 17px;
}

select:not(.--no-global).disabled {
  background-image: none;
}

select:not(.--no-global).half {
  width: 100%;
}

@media (min-width: 840px) {
  select:not(.--no-global).half {
    width: 50%;
  }
}

select:not(.--no-global).underlined-select {
  border: none;
  border-bottom: 1px solid #c4c4c4;
  padding: 7px 7px 7px 90px;
}

.checkbox {
  position: relative;
  padding-left: 26px;
  font-size: 13px;
}

.checkbox input[type="checkbox"] {
  opacity: 0;
  z-index: -1;
  position: absolute;
}

.checkbox input[type="checkbox"]:checked ~ .checkbox-item {
  background: #2da98d;
  border: 1px solid #2da98d;
}

.checkbox .checkbox-item {
  position: absolute;
  top: -2px;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 2px;
  border: 1px solid #717171;
}

.checkbox .checkbox-item:after {
  content: "";
  left: 7px;
  position: absolute;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

textarea {
  width: 100%;
  min-height: 120px;
  resize: none;
  padding: 12px;
  background: transparent;
  border-radius: 2px;
}

.stacked-radio-btns label {
  margin-bottom: 10px;
  display: block;
}

.inline-list {
  text-align: center;
}

.inline-list li {
  display: inline-block;
  margin: 0 20px;
}

.inline-list li a {
  display: block;
}

.update-form {
  opacity: 0;
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease;
  display: none;
}

.update-form.darker {
  background: rgba(0, 0, 0, 0.8);
}

.update-form.active {
  display: block;
  opacity: 1;
  z-index: 26;
}

.update-form.card-delete .update-form-inner.active {
  height: auto;
  width: 318px;
}

@media (min-width: 576px) {
  .update-form.card-delete .update-form-inner.active {
    width: 400px;
  }
}

.update-form.card-delete .update-form-inner.active p {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  text-align: center;
  padding: 25px 10px 7px;
  line-height: 1.38;
  font-weight: 400;
}

@media (min-width: 576px) {
  .update-form.card-delete .update-form-inner.active p {
    padding: 30px 10px 7px;
  }
}

.update-form.card-delete .update-form-inner.active p span {
  font-size: 14px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.update-form.card-delete .update-form-inner.active p strong {
  font-size: 16px;
}

.update-form.card-delete .update-form-inner.active .note {
  padding: 25px 10px 0;
  font-size: 14px;
}

.update-form.card-delete .update-form-inner.active .cross-container {
  width: 32px;
  float: right;
}

.update-form.card-delete .update-form-inner.active .question {
  font-weight: 700;
  padding: 45px 10px 7px;
}

.update-form.card-delete .update-form-inner.active .delete-buttons {
  text-align: center;
}

.update-form.card-delete .update-form-inner.active .delete-buttons .btn-thor-white {
  margin-right: 20px;
}

.update-form .update-form-inner {
  position: absolute;
  top: 250%;
  left: 50%;
  transform: translate(-50%, 200%);
  background: #fff;
  padding: 12px 12px 24px;
  transition: all 0.4s ease;
  width: 100%;
}

@media (min-width: 450px) {
  .update-form .update-form-inner {
    width: auto;
  }
}

.update-form .update-form-inner.active {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.update-form .update-form-inner .update-warning {
  position: absolute;
}

.update-form .close-update-form {
  position: absolute;
  top: 6px;
  right: 6px;
}

.file-input {
  position: relative;
  margin-bottom: 6px;
}

.file-input label:not(.thor-btn) {
  background: #54668e;
  border-radius: 2px;
  color: #fff;
  text-decoration: none;
  transition: none;
  border: 1px solid #54668e;
  display: inline-block;
  line-height: 43px;
  border-radius: 2px;
  appearance: none;
  position: relative;
  font-size: 13px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.12);
  padding: 2px 24px 3px;
}

.file-input label:not(.thor-btn).low {
  padding: 1px 18px 0;
}

.file-input label:not(.thor-btn):hover {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.file-input label:not(.thor-btn).disabled {
  background: #c4c4c4;
  border: 1px solid #c4c4c4;
}

.file-input input[type="file"] {
  opacity: 0;
  height: 0;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.notification-message {
  text-align: left;
  color: #455a64;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 2px;
}

.notification-message p {
  color: #455a64;
}

.notification-message a {
  text-decoration: underline;
}

.notification-message.success-message {
  background: rgba(46, 204, 113, 0.35);
  border: 1px solid rgba(46, 204, 113, 0.4);
}

.notification-message.warning-message {
  background: rgba(245, 165, 37, 0.35);
  border: 1px solid rgba(245, 165, 37, 0.35);
}

.notification-message.warning-message i {
  color: #000;
}

.notification-message.error-message {
  background: rgba(255, 82, 82, 0.35);
  border: 1px solid rgba(255, 82, 82, 0.4);
}

.delete-warning {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 23;
  top: 0;
  left: 0;
}

.delete-warning .overlay {
  display: block;
}

.delete-warning .warning-container {
  max-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 20;
  padding: 30px;
}

.delete-warning .mdi {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
  font-size: 20px;
}

.delete-warning.open {
  display: block;
}

.thor-input {
  position: relative;
}

.thor-input.new-input {
  background-color: #fff;
  margin-bottom: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
}

.thor-input.new-input label {
  text-align: left;
  font-size: 14px;
  padding: 8px 0 0 10px;
}

.thor-input.new-input label span {
  padding-left: 8px;
}

.thor-input.new-input.invalid {
  border: 1px solid #ff6900;
}

.thor-input.new-input.invalid .alert-tooltip {
  position: absolute;
  left: 0;
  bottom: -14px;
  font-size: 12px;
  color: #ff6900;
}

.thor-input.new-input input:not([type="submit"]):not([type="file"]):not([type="checkbox"]):not([type="radio"]):not(.header-search-form):not(.checkout-datepicker-input):not(.hidden-top):not(.hidden-bottom):not(.address-search-bar):not(.orange-border):not(.tag-input) {
  height: 36px;
}

.thor-input.new-input input:not([type="submit"]):not([type="file"]):not([type="checkbox"]):not([type="radio"]):not(.header-search-form):not(.checkout-datepicker-input):not(.hidden-top):not(.hidden-bottom):not(.tag-input),
.thor-input.new-input p:not(.format-date),
.thor-input.new-input textarea {
  border: none;
  margin: 0;
  height: auto;
  padding-bottom: 5px;
  padding-top: 6px;
  background: transparent;
}

.thor-input.new-input select {
  border: none;
  padding: 0 0 0 10px;
  margin-bottom: 0;
  height: 36px;
  font-size: 16px;
}

.thor-input label {
  font: normal 700 18px/1 Roboto, Arial, Helvetica, sans-serif;
}

.thor-input input:not([type="submit"]):not([type="file"]):not([type="checkbox"]):not([type="radio"]):not(.header-search-form):not(.checkout-datepicker-input):not(.hidden-top):not(.hidden-bottom):not(.tag-input),
.thor-input p:not(.error-message):not(.format-date),
.thor-input textarea {
  background: #fff;
  outline: none;
  width: 100%;
  padding-left: 11px;
  padding-right: 11px;
  margin: 10px 0 0;
  box-shadow: none;
  border-radius: 2px;
  color: #000;
  font: normal 400 16px/20px Roboto, Arial, Helvetica, sans-serif;
  border: 1px solid #c8c8c8;
  appearance: none;
}

.thor-input input:not([type="submit"]):not([type="file"]):not([type="checkbox"]):not([type="radio"]):not(.header-search-form):not(.checkout-datepicker-input):not(.hidden-top):not(.hidden-bottom):not(.tag-input).invalid,
.thor-input p:not(.error-message):not(.format-date).invalid,
.thor-input textarea.invalid {
  border: 2px solid #ff6900;
}

.thor-input input:not([type="submit"]):not([type="file"]):not([type="checkbox"]):not([type="radio"]):not(.header-search-form):not(.checkout-datepicker-input):not(.hidden-top):not(.hidden-bottom):not(.tag-input).no-focus:focus,
.thor-input p:not(.error-message):not(.format-date).no-focus:focus,
.thor-input textarea.no-focus:focus {
  background-color: #fff;
  border-color: #c8c8c8;
}

.thor-input input:not([type="submit"]):not([type="file"]):not([type="checkbox"]):not([type="radio"]):not(.header-search-form):not(.checkout-datepicker-input):not(.hidden-top):not(.hidden-bottom):not(.tag-input).orange-border,
.thor-input p:not(.error-message):not(.format-date).orange-border,
.thor-input textarea.orange-border {
  border: 1px solid #ff6900;
}

.thor-input input:not([type="submit"]):not([type="file"]):not([type="checkbox"]):not([type="radio"]):not(.header-search-form):not(.checkout-datepicker-input):not(.hidden-top):not(.hidden-bottom):not(.orange-border):not(.tag-input) {
  height: 50px;
}

.thor-input.btn-input {
  display: flex;
  justify-content: stretch;
}

.thor-input.btn-input input:not([type="submit"]):not([type="file"]):not([type="checkbox"]):not([type="radio"]):not(.header-search-form):not(.checkout-datepicker-input):not(.hidden-top):not(.hidden-bottom):not(.tag-input),
.thor-input.btn-input textarea {
  margin: 0;
  border-right: none;
  border-radius: 2px 0 0 2px;
}

.thor-input.btn-input h6 {
  margin-bottom: 10px;
}

.thor-input.btn-input button {
  border-radius: 0 2px 2px 0;
  font: normal 400 16px/1 Roboto, Arial, Helvetica, sans-serif;
}

.thor-input.contrast input:not([type="submit"]):not([type="file"]):not([type="checkbox"]):not([type="radio"]):not(.header-search-form):not(.checkout-datepicker-input):not(.hidden-top):not(.hidden-bottom),
.thor-input.contrast textarea {
  border-color: #000;
}

.thor-input.contrast input:not([type="submit"]):not([type="file"]):not([type="checkbox"]):not([type="radio"]):not(.header-search-form):not(.checkout-datepicker-input):not(.hidden-top):not(.hidden-bottom):not(.hidden-bottom):not(.orange-border):not(.tag-input) {
  height: 50px;
}

.thor-input.contrast input:not([type="submit"]):not([type="file"]):not([type="checkbox"]):not([type="radio"]):not(.header-search-form):not(.checkout-datepicker-input):not(.hidden-top):not(.hidden-bottom):not(.tag-input).orange-border,
.thor-input.contrast textarea.orange-border {
  border: 1px solid #ff6900;
}

.thor-input svg {
  width: 20px;
  position: absolute;
  top: 42px;
  right: 12px;
  fill: #ff6900;
}

.thor-input button.inline,
.thor-input i {
  position: absolute;
  right: 10px;
  top: 18px;
  font-size: 28px;
}

.thor-input button.inline.open,
.thor-input i.open {
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;
  transform: rotate(0deg);
}

.thor-input ul.connected {
  margin-top: 0;
  border-top: none;
}

.thor-input .error-message {
  position: absolute;
  color: red;
}

.thor-input .error-message.grey {
  color: #545454;
}

.thor-input .format-date {
  padding-top: 5px;
  padding-left: 9px;
  font: normal 16px/1.2 Roboto, Arial, Helvetica, sans-serif;
}

.thor-input.promo input {
  height: 40px;
  font-size: 14px;
}

.thor-input.promo button {
  height: 40px;
}

.thor-checkbox,
.thor-radiobox {
  position: relative;
}

.thor-checkbox.p,
.thor-radiobox.p {
  margin-bottom: 17px;
}

.thor-checkbox label,
.thor-radiobox label {
  padding-left: 28px;
  padding-top: 6px;
  font: normal 400 16px/1 Roboto, Arial, Helvetica, sans-serif;
}

.thor-checkbox label i.mdi,
.thor-radiobox label i.mdi {
  font-size: 26px;
  transform: translateY(3px);
  margin-right: 1px;
}

.thor-checkbox label > div,
.thor-radiobox label > div {
  background-repeat: no-repeat;
  height: 20px;
  background-size: contain;
}

.thor-checkbox label > div.checked,
.thor-radiobox label > div.checked {
  background-image: url(https://images-fe.thortful.com/svg/box_checked_orange.svg);
}

.thor-checkbox label > div.unchecked,
.thor-radiobox label > div.unchecked {
  background-image: url(https://images-fe.thortful.com/svg/box_unchecked_orange.svg);
}

.thor-checkbox label > div.hovered,
.thor-radiobox label > div.hovered {
  background-image: url(https://images-fe.thortful.com/svg/box_hovered_orange.svg);
}

.thor-checkbox label > .black.checked,
.thor-radiobox label > .black.checked {
  background-image: url(https://images-fe.thortful.com/svg/box_checked.svg);
}

.thor-checkbox label > .black.unchecked,
.thor-radiobox label > .black.unchecked {
  background-image: url(https://images-fe.thortful.com/svg/box_unchecked.svg);
}

.thor-checkbox label > .black.hovered,
.thor-radiobox label > .black.hovered {
  background-image: none;
}

.thor-checkbox .error-message,
.thor-radiobox .error-message {
  position: absolute;
  color: red;
}

.thor-checkbox input[type="checkbox"],
.thor-radiobox input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  bottom: 0;
}

.thor-checkbox .hovered,
.thor-checkbox input[type="checkbox"] + label .unchecked,
.thor-checkbox input[type="checkbox"]:checked + label .checked,
.thor-radiobox .hovered,
.thor-radiobox input[type="checkbox"] + label .unchecked,
.thor-radiobox input[type="checkbox"]:checked + label .checked {
  display: inline-block;
  opacity: 1;
  width: 20px;
  position: absolute;
  left: 2px;
  top: 4px;
  margin-right: 8px;
}

.thor-checkbox .hovered,
.thor-checkbox input[type="checkbox"] + label .checked,
.thor-checkbox input[type="checkbox"]:checked + label .unchecked,
.thor-checkbox:hover .checked,
.thor-checkbox:hover .unchecked,
.thor-radiobox .hovered,
.thor-radiobox input[type="checkbox"] + label .checked,
.thor-radiobox input[type="checkbox"]:checked + label .unchecked,
.thor-radiobox:hover .checked,
.thor-radiobox:hover .unchecked {
  display: none;
}

.thor-checkbox:hover .hovered,
.thor-checkbox input[type="checkbox"] + label .hovered {
  display: inline-block;
}

.thor-radiobox label {
  font-size: 14px;
}

@media (min-width: 375px) {
  .thor-radiobox label {
    font-size: 16px;
  }
}

.thor-radiobox label > div {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid #ff6900;
}

.thor-radiobox label > div.checked {
  border-width: 5.5px;
  background-color: #fff;
}

.thor-radiobox label > div.hovered {
  border-width: 10px;
}

.thor-radiobox label > div.checked,
.thor-radiobox label > div.hovered,
.thor-radiobox label > div.unchecked {
  background-image: none;
}

.thor-checkbox.blue label > div,
.thor-radiobox.blue label > div {
  border: 2px solid #54668e;
}

.thor-checkbox.blue label > div.unchecked,
.thor-radiobox.blue label > div.unchecked {
  cursor: pointer;
}

.thor-checkbox.blue label > div.checked,
.thor-radiobox.blue label > div.checked {
  text-align: center;
  line-height: 1;
}

.thor-checkbox.blue label > div.checked:after,
.thor-radiobox.blue label > div.checked:after {
  content: "";
  display: inline-block;
  border-radius: 10px;
  height: 10px;
  width: 10px;
  background: #54668e;
}

.thor-checkbox.orange--mob label,
.thor-radiobox.orange--mob label {
  font-size: 12px;
}

.thor-checkbox.orange--mob label > div.unchecked,
.thor-radiobox.orange--mob label > div.unchecked {
  cursor: pointer;
  border: 1px solid #bdbdbd;
}

.thor-checkbox.orange--mob label > div.checked,
.thor-radiobox.orange--mob label > div.checked {
  border: 1px solid #ff6900;
  position: relative;
}

.thor-checkbox.orange--mob label > div.checked:after,
.thor-radiobox.orange--mob label > div.checked:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background: #ff6900;
}

.thor-btn {
  font: normal 700 16px/1 Roboto, Arial, Helvetica, sans-serif;
  display: inline-block;
  outline: none;
  text-align: center;
  box-shadow: none;
  color: #fff;
  background-color: #54668e;
  padding: 12px 22px;
  margin: 0;
  text-transform: uppercase;
  border: 1px solid transparent;
  cursor: pointer;
}

.thor-btn.lowercase {
  text-transform: none;
}

.thor-btn.block-btn {
  display: block;
  width: 100%;
}

@media (min-width: 769px) {
  .thor-btn.block-btn.desktop-inline {
    display: inline-block;
    width: unset;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.thor-btn.sm {
  font-weight: 400;
  font-size: 14px;
  text-transform: none;
  padding: 8px 16px;
}

.thor-btn.md {
  font-weight: 600;
  font-size: 16px;
  text-transform: none;
  padding: 8px 16px;
}

.thor-btn.orange-btn {
  background-color: #ff6900;
  color: #fff;
}

.thor-btn.blue-btn {
  background-color: #79b7ff;
  color: #fff;
}

.thor-btn.grey4-btn {
  background-color: #979797;
  color: #fff;
}

.thor-btn.line-default {
  background-color: #fff;
  border-color: #54668e;
  color: #54668e;
  text-transform: none;
}

@media (min-width: 769px) {
  .thor-btn.line-default:hover {
    background-color: #54668e;
    color: #fff;
  }
}

.thor-btn.line-orange {
  background-color: #fff;
  border-color: #ff6900;
  color: #ff6900;
  text-transform: none;
}

@media (min-width: 769px) {
  .thor-btn.line-orange:hover {
    background-color: #ff6900;
    color: #fff;
  }
}

.thor-btn.line-blue {
  background-color: #fff;
  border-color: #79b7ff;
  color: #79b7ff;
  text-transform: none;
}

@media (min-width: 769px) {
  .thor-btn.line-blue:hover {
    background-color: #79b7ff;
    color: #fff;
  }
}

.thor-btn.line-grey4 {
  background-color: #fff;
  border-color: #979797;
  color: #979797;
  text-transform: none;
}

@media (min-width: 769px) {
  .thor-btn.line-grey4:hover {
    background-color: #979797;
    color: #fff;
  }
}

.thor-btn.grey {
  background-color: #ececec;
  border: 1px solid #ececec;
  text-transform: none;
  color: #c4c4c4;
  pointer-events: none;
}

.thor-btn.line-black {
  background-color: #fff;
  border-color: #000;
  color: #000;
  text-transform: none;
}

@media (min-width: 769px) {
  .thor-btn.line-black:hover {
    background-color: #000;
    color: #fff;
  }
}

.thor-btn.r-2 {
  border-radius: 2px;
}

.thor-btn i.mdi {
  font-size: 17px;
  position: relative;
  line-height: 1;
  top: 1px;
  margin: 0 2px;
  left: 14px;
}

.account-buttons {
  text-align: center;
  width: 100%;
  margin-bottom: 45px;
}

.account-buttons > button {
  padding: 0;
  width: 47%;
}

.account-buttons .btn-thor-white {
  margin-right: 5%;
}

.account-buttons .new-address {
  width: 100%;
}

.plus-icon {
  background-color: #ff6900;
  color: #fff;
  border-radius: 200px;
  height: 25px;
  width: 25px;
  display: inline-block;
  margin-right: 6.3px;
  font-weight: 300;
  font-size: 21px;
  vertical-align: middle;
  line-height: 25px;
}

a {
  color: #54668e;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

a.a-orange,
a.a-orange:hover {
  color: #ff6900;
}

a:active,
a:hover {
  text-decoration: none;
}

a.link {
  color: #54668e;
  text-decoration: underline;
}

a.discreet-link {
  color: #9b9b9b;
  font-size: 13px;
  line-height: 17.55px;
  text-decoration: underline;
}

a.discreet-link:hover {
  color: #54668e;
}

a.underline {
  text-decoration: underline;
}

a.link-no-underline {
  color: #54668e;
}

a.mmLink {
  color: #ff6900 !important;
  text-decoration: underline !important;
}

a.link-cta {
  display: inline-block;
  border-bottom: 3px solid #fff;
}

a.link-cta:hover {
  color: #fff;
}

.img-full {
  width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 840px) {
  .sidebar-legacy {
    width: 24.2990654206%;
    float: left;
    margin-right: 0.9345794393%;
    padding: 0 36px 0 0;
  }
}

.sidebar-legacy h2 {
  margin-top: 26px;
  margin-bottom: 0;
  padding: 12px;
}

.sidebar-legacy ul li a {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 17.55px;
  display: block;
  padding: 15px 24px;
  border-left: 8px solid #f4f4f4;
  transition: 0.2s;
  cursor: pointer;
}

.sidebar-legacy ul li a.active {
  font-weight: 700;
  border-top: 1px solid #455a64;
  color: #455a64;
}

.sidebar-legacy ul li a.active i {
  display: block;
}

.sidebar-legacy ul li a i {
  display: none;
  float: right;
  font-size: 22px;
  margin-top: -2px;
}

.sidebar-legacy ul li a:hover {
  background-color: #f4f4f4;
  border-left: 8px solid #c4c4c4;
}

@media (min-width: 840px) {
  .content-has-sidebar {
    width: 74.7663551402%;
    float: right;
    margin-right: 0;
  }
}

.padded-box {
  background: #fff;
  padding: 12px;
  position: relative;
}

@media (min-width: 450px) {
  .padded-box {
    border: 1px solid #f4f4f4;
  }
}

.no-ml {
  margin-left: 0;
}
